Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@stubz151 
nestjs
/
docs.nestjs.com
23
267410
 Code
 Issues 69
 Pull requests 23 Actions
 Projects 0
 Wiki
 Security 0
 Insights
docs.nestjs.com/.gitignore
@kamilmysliwiec kamilmysliwiec docs(): align with changes from v7
edf3004 on Mar 3
@kamilmysliwiec@johnbiundo@mkaufmaner@zMotivat0r@BrunnerLivio@beeman
55 lines (45 sloc)  667 Bytes
  
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/*
!/dist/v4
!/dist/v5
!/dist/v6

/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
.vscode
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
*.code-workspace
/.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Mock API
/api/node_modules

# compiled templates
src/app/homepage/pages/**/*.html
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
